/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set the font */
body {
  font-family: "Kanit", sans-serif;
}

/* Set the background color */
body {
  background-color: #1a1a1a;
  color: #fff;
}

/* Add styles to the header */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

header nav {
  margin-bottom: 1rem;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-right: 1rem;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

header h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2rem;
  text-align: center;
}
section {
  width: 60vw;
  margin: 2vh auto;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  text-align: center;
}

/* Add styles to the hero section */
#hero {
  padding: 3rem 1rem;
  text-align: center;
}

#hero p {
  font-size: 1.2rem;
}

/* Add styles to the projects section */
#projects {
  padding: 3rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: calc(100% / 3 - 1rem);

  margin-right: 1rem;
  margin-bottom: 1rem;
}

.project:nth-child(3n) {
  margin-right: 0;
}

.project h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.iframe-container {
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add styles to the footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #000;
}

footer p {
  font-size: 1.2rem;
}

/* Responsive styles */

/* For phones */
@media screen and (max-width: 576px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }

  #projects .project {
    width: 100%;
    margin-right: 0;
  }
}

/* For iPads */
@media screen and (max-width: 768px) {
  header h1 {
    font-size: 2.5rem;
  }

  header p {
    font-size: 1rem;
  }

  #projects .project {
    width: calc(50% - 0.5rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  #projects .project:nth-child(2n) {
    margin-right: 0;
  }
}
